/** Styes for the overall page **/

body{
    font-family:'Droid Sans',verdana,helvetica,arial,sans-serif;
    color:#111111;
    background:#ffffff;
    font-size:18px;
    margin:0;
    padding:0;
}

#frame{
    width: 1200px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

/* Input selection area */

#timeline{
  margin-bottom:15px;
  margin-top: 15px;
}

select {
  padding: 10px;
  font-size:20px;
}
